.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100vh; /* Adjust this value as needed */
  }
  .total-word-count {
    font-size: 20px; /* Adjust as needed */
  }
  .flashcard {
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-title {
    text-align: center;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Adjust this value as needed */
  }
  .input-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .input-field {
    width: 100%;
    margin-bottom: 20px;
    font-size: 150%;
  }
  .card {
    /* Other styles */
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .card:hover {
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
  }
  app-score {
    margin-right: 20px;
  }
  .wrong {
    background-color: red;
  }
  .correct {
    background-color: green;
  }
  .controls{
    margin-right: 50px;
  }
  .game{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }
